/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 06-Apr-2023, 2:59:26 pm
    Author     : HP
*/
*{
    margin: 0px;
}

.mainContainer {

    margin: auto;
    width: 95%;
    background-color: rgb(244, 233, 215);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 18px;
}

.internalContainer {
    width: 90%;
    margin-bottom: 16px;
    background-color: rgba(197, 197, 197, 0.238);
    border-radius: 5px;
    box-shadow: 4px 5px 3px rgba(12, 6, 6, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: justify;
}

.left {
    width: 70%;
    min-height: 210px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    margin: 8px;
    padding: 16px;


}

.right {
    padding: 16px;
    padding-right: 0px;
    margin: 8px;
    width: 30%;
    display: flex;

}

.image {
    height: auto;
    width: 95%;
    max-width: 370px;
    box-shadow: 6px 4px 4px 1px rgb(99, 94, 94);
    border-radius: 5px;
    align-items: center;
    justify-content: center;

}

.internalContainer:hover {
    background-color: rgba(255, 255, 0, 0.46);
    transition: 1s;
}

.list {
    font-size: 17px;
    font-weight: bold;
    color: rgb(80, 80, 158);
}

.mainContainer p {
    font-size: 18px;
}

.hr {
    margin-top: 4px;
    margin-bottom: 13px;
    background-color: blueviolet;
    height: 5px;
    width: 224px;
    font-weight: bold;
}

