/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 23-Mar-2023, 4:52:37 pm
    Author     : HP
*/

/**{
    margin: 0px;
}*/
.F-B{
    width: 100%;
    height: 605px;
    background-color: #333d3b;
    border-top: solid blueviolet 10px;
    line-height: 26px;
}
.P1{
    width: 22%;
    /*height: 250px;*/
    padding-top: 50px;
    padding-left: 31px;
    color: white;
   float: left;
   
}
.P2{
    width: 20%;
    /*height: 250px;*/
    padding-top: 50px;
    color: white;
    float: left;
}
.P3 a{
    text-decoration: none;
    color: white;
    
}

.P3{
    width: 28%;
    /*height: 250px;*/
    padding-top: 50px;
     color: white;
     float: left;
}
.P4{
    width: 30%;
    /*height: 250px;*/
    padding-top: 50px;
     color: white;
     float: left;
}
.media{
    padding: 8px;
    
}
.copy{
    color: white;
width: 90%;
position: relative;
left: 50px;
border-top: solid;
padding: 10px;
float: left;
}
.col{
    color: white;
text-decoration: none;
}

/*@media(min-width: 810px){
    .F-B{
          height: 841px; 
       }
       .P1{
          width: 51%; 
       }
       .P2{
          width: 31%; 
       }
       .P3{
          width: 50%; 
       }
       .P4{
          width: 29%; 
       }
}*/
/*phone*/
/*@media (min-width: 375px){
    .F-B{
      height: 1383px;
    }
    .P1{
        width: 87%;
    }
    .P2{
        width: 87%;
        padding-left: 31px;
        margin-bottom: 10px;
    }
    .P3{
       width: 93%;
height: 433px;
padding-left: 19px;
    }
    .P4{
        width: 87%;
        padding-left: 31px;
        height: 126px;
    }
    .copy{
        color: white;
width: 75%;
position: relative;
left: 50px;
top: -11px;
border-top: solid;
padding: 10px;

    }
}*/