/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 02-Mar-2023, 5:10:16 pm
    Author     : HP
*/

*{
    margin: 0px;
}

body{
    background-color:#c8c7c2;
}
.container1{
     background-color: #c81c2c;
    text-align: center;
    height: 78px;
}
.container1 ul{
    position: absolute;
left: 481px;
}
.nav1 li{
    display: inline-block;
padding-left: 32px;
font-size: 27px;
margin-top: 20px;
    
}

 .container1 ul li a {
            color: white;
            text-decoration: none;
        }
        .t1{
/*            animation-name: animate;
            animation-duration: 4s;*/
/*            animation-iteration-count: infinite;*/
            position: absolute;
            left: 300px;
            top: 300px;
            color: white;
            font-size: 48px;
        }

     .logo{
         position: absolute;
left: -9px;
height: 54px;
margin-left: 20px;
margin-top: 10px;
         }
     .img1{
            position: absolute;
left: 29px;
height: 60px;
margin-left: 40px;
top: 10px;
         }
         .L{
            position: absolute;
       left: 1460px;
        top: 17px;
         }
         .L1{
    height: 54px;
    border-radius: 34px;
         }
         
         @media only screen and(max-width:1510px) {
             .L{
                 position: absolute;
               right: 271px;
             }
         }